* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("salone-flag.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-logo {
    width: 100px;
    height: 40px;
    object-fit: contain;
    margin: 10px;
}

.sign-in-button {
    color: black;
}