* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100vh;
    background: linear-gradient(to bottom, #1eb53a 0vh, #1eb53a 33vh, white 34vh, white 66vh, #0072c6 67vh, #0072c6 100vh);
    background-attachment: fixed;
}

#root {
    display: flex;
    flex-direction: column;
}

.translucent-background {
    background-color: #00000040; /* 25% opaque black background */
}

header {
    padding: 10px;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    background-color: #1eb53a;
}

.main-logo {
    width: 100px;
    height: 40px;
    object-fit: contain;
}

.menu-button {
    margin-left: 5px;
}

.flag-white-centered {
    margin-bottom: 60px; /* Keep login card centered in the center of the white of the flag background */
}

p {
    margin-bottom: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.nav {
    border: 0;
}

.tab {
    padding: 10px;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: color-mix(in oklch, white, black 10%);
}

.tab.active,
.tab:hover {
    background-color: white;
}

.profile-card {
    border: 0;
    border-top-left-radius: 0;
}

.big-icon {
    font-size: 60px;
    height: 75px;
}

.personal-info-parent {
    margin-top: 20px;
}

.personal-info {
    margin: 20px;
}

.badge-box {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 20px;
}