* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
    padding: 10px;
    min-height: 100vh;
    background-image: url("salone-flag.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-logo {
    width: 100px;
    height: 40px;
    object-fit: contain;
}

button {
    color: black;
}

.menu-button {
    margin-left: 5px;
}